.home {
  width: 100%;
  .links {
    width: 500px;
    text-align: center;
    margin: 40px auto 50px auto;
    a {
      color: white;
      text-decoration: none;
      font-size: 1.7em;
      padding: 20px 50px;
      background: #003d84;
    }
    .active {
      color: lighten(darkcyan, 15);
      background: darken(#003d84, 5);
    }
  }
}
