.add-issue {
  min-width: 80%;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  .add {
    color: white;
    border: 1px solid white;
    padding: 10px 20px;
    display: inline-block;
    cursor: pointer;
    &:active {
      color: #aaa;
      border-color: #aaa;
    }
  }
  .title {
    background: transparent;
    border: none;
    border-bottom: 2px solid white;
    width: 50%;
    margin: 20px auto;
    font-size: 1.5em;
    outline: none;
    color: white;
    &::placeholder {
      color: #aaa;
    }
  }
  .preview-area {
    display: flex;
    width: 100%;
    textarea {
      min-width: 50%;
      display: inline-block;
      padding: 10px;
      border: 2px solid white;
      background: transparent;
      outline: none;
      color: white;
      font-size: 1.2em;
      // resize: none;
    }
    .markdown-preview {
      min-width: 50%;
      padding: 0 10px;
      border: 2px solid white;
    }
  }
}
