.edit-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.file-name {
  height: 50px;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: green;
}
