.edit-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.upload-pic {
  height: fit-content;
  width: fit-content;
  padding: 4px;
  background: white;
  &:hover {
    cursor: pointer;
  }
}

.file-name {
  height: 50px;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: green;
}
